:root {
      --primary: #0ea5e9;
    --dark: #0f172a;
    --white: #ffffff;
    --text: #334155;
    --light-bg: #f8fafc;
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--light-bg);
    color: var(--dark);
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem ;

}
.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--dark);
    margin: 1.5rem;
    font-weight: 400;
    transition: var(--transition);
}

.nav-link:hover {
    color: aqua;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

@media (max-width:768px) {
    .nav-toggle-label {
        display: block;
        cursor: pointer;

    }
}

.nav-toggle-label span ,
.nav-toggle-label span ::before,
.nav-toggle-label span ::after{
    display: block;
    background:var(--dark);
    height: 2px;
    width: 2rem;
    position: relative;
    transition: var(--transition);
}

.nav-toggle-label span::before {
    content: '';
    position: absolute;
    top:-8px;
}

.nav-toggle-label span::after {
    content: none;
    position: absolute;
    top: 8px;
}
.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    text-align: center;
    min-height: 0;
    overflow: hidden;
    transition: var(--transition);
    border-top: 1px solid #eee;
}

.nav-menu li {
    width: 100%;
}

.nav-link {
    display: block;
    padding: 1.5rem;
    margin: 0;
}

.nav-toggle:checked ~ .nav-menu {
    max-height: 400px;
}